* {
    margin: 0;
    padding: 0;
}

div {
    display: inline-block;
    font-size: 10vw;
}
.green { background-color: green; }
.blue { background-color: blue; }
.red { background-color: red; }
.purple { background-color: purple; }
.orange { background-color: orange; }