* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 10vw;
}

p {
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
}

img {
    display: inline-block;
    width: 16vw;
}
